@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-bricolage-grotesque: var(--font-bricolage-grotesque);
  --bg-white-opacity: rgba(255, 255, 255, 0.06);
  --font-young-serif: var(--font-young-serif);
}

.gradientBlack {
  background-color: #1f1f1f;
}
